{% set body_class = body_class ~ "authors "%}
{% extends "listing.tmpl" %}
{% block pre_footer %}
    <h2>{{ messages("Authors") }}</h2>

    {#{ authors }#}
    <hr>
    <ul class="postlist">
    {% for text, link in items %}
        {% if text not in hidden_authors %}
            <li><a class="reference listtitle" href="{{ link }}">{{ text|e }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}