{#
    Available vars:
    items
    cat_items
#}
{% set body_class = body_class ~ "tags "%}
{% extends "listing.tmpl" %}

{% block pre_footer %}
{% if items %}
    {% for k,v in items %}
        <a href="{{ v }}">{{ k }}</a>
    {% endfor %}
    <hr>
    {% endif %}
    {% if cat_items %}
        {% for k,v in cat_items %}
        <a href="{{ v }}">{{ k }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}