
{% block header %}
    <header id="site-header">
        <nav class="container header-menu menu-horizontal flex-jspace_between">
            
            <a class="logo" href="{{ logo_url if logo_url else '/'}}">{{ blog_title }}</a>

             {{ ui.menu(navigation_links[lang], "main-menu") }}

            {% if search_form %}
                <div class="searchform" role="search">
                    
                </div>
            {% endif %}

            
            {{ ui.langSwitcher() }}
        </nav>
    </header>
{% endblock header %}

