
{% block header %}
    <header id="site-header">
        <nav class="container header-menu menu-horizontal flex-jspace_between">
            
            <a class="logo" href="{{ logo_url if logo_url else '/'}}">{{ blog_title }}</a>

             {{ ui.menu(navigation_links[lang], "main-menu") }}

            {% if search_form %}
                <div class="searchform" role="search">
                    
                </div>
            {% endif %}

            
            {% set translation_links = [] %}
            {% for langname in translations|sort %}
                {# TODO: Get real dynamically the link to translated content post, index, cats etc. fallback -> to root + lang: /{lang} #}
                {% set link = _link('root', None, langname) %} 
                {% set text =  langname if translation_menu_lang_code else messages("LANGUAGE", langname ) %} {# Display full lang name or code lang. #}
                {% set active = "active " if lang == langname %}
                {# update dict with all the links xmlAttr formatted. #}
                {% set _dummy = translation_links.append({
                                    "href":link,
                                    "text": langname,
                                    "rel": "alternate",
                                    "hreflang": langname,
                                    "class": active
                                }) %} 
            {% endfor %}
            <div class="translations-menu-wrapper">
                {{ ui.menuConstructor(translation_links, {"menuExtraClass": "translation_links"}) }}
            </div>
            <ul class="translations-menu menu-horizontal flex-aright">
                
            </ul>
        </nav>
    </header>
{% endblock header %}

