{% set body_class = body_class ~ "page"%}
{% extends "base.tmpl" %}

{% block content %}
    <article >
    {% call ui.section({
        "ele": "header",
        "class": "page-header"
    }) %}
        <h1 class="page-title">{{ post.title()|e }}</h1>
    {% endcall %}

    {% call ui.section({
        "ele": "div",
        "class": "page-content"
    }) %}
        {{ post.text() }}
        <!-- TODO: How .sections are handled in .str|.md? -->
    {% endcall %}
    </article>
{% endblock %}