{% set body_class = "%sblog post"|format(body_class) %} 
{% extends "base.tmpl" %}
{% block head_include %}
    {{ super() }}
    <link href="/assets/css/blog.css" rel="preload" as="style" type="text/css" onload="this.rel='stylesheet'" />
{% endblock %}
{% block content %}
    {% call ui.section({
        "ele": "article",
        "class": "post-item"
    }) %}
        <header class="post-header">
            <h1 class="post-title">{{ post.title() }}</h1>

            <aside >
                {{ '<a href="%s">%s</a>'|format(_link("author",blog_author),blog_author) }}
                {{ ui.post_tags() }}
            </aside>
            
        </header>
        <div class="post-content">
            {{ post.text() }}
        </div>
        <aside class="related-posts">
            <!-- TODO: related posts (by tag matchs) -->
        </aside>
        {% endcall %}
{% endblock %}