{#
    Available vars:
    items
    cat_items
#}
{% set body_class = body_class ~ "tags "%}
{% extends "listing.tmpl" %}

{% block pre_footer %}
    {{ items|pprint }}
    <hr>
    {{ cat_items|pprint }}
{% endblock %}